/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
    /*font-family: 'Bellefair', serif;
      font-family: 'Lato', sans-serif;
    */
html{
/*agregando estilos a the box*/
     box-sizing: border-box;
}
 *,*:before,*:after{
    box-sizing: inherit;
}
body{
   /* background : #ccfff2 ; */
   /* background: linear-gradient(to left, #5bc8ac, #ccfff2);*/
    font-family: 'Lato', sans-serif;
}
.contenedor{
    width  : auto;
    margin : 40px;
    padding: 0;
}
ol,ul {
list-style:none;
/*none, es para que no tenga ningun circulo o de mas*/
}
h1,h2,h3,h4,h5,h6{
      font-family: 'Lato', sans-serif;
      color      : #000;
}
p{
    font-size  : 24px;
    color      : #ooo;
    font-family: 'Bellefair', serif;
}
a{
    text-decoration : none;
    color           : #000;
    transition      : color 0.3s ease;
}
a:hover{
    text-decoration: line-through;
    color          : #ff420e;
/*estilos para las palabras del menu*/
}

/* MENU ,agregamos estilos generales a the box*/
#menuToggle {
    display            : block;
    position           : fixed;
    top                : 50px;
    left               : 50px;
    z-index            : 1;    
    -webkit-user-select: none; 
    user-select        : none;
/*fixed es para que nos siga en toda la pag*/             
/*z-index vamos hacerlo por capas*/
/*u-select quiero que me seleccione hasta que 
 *yo le indique que lo vamos a seleccionar*/
}
#menuToggle input {
    display              : block;
    width                : 40px;
    height               : 32px;
    position             : absolute;
    top                  : -7;
    left                 : -5;
    cursor               : pointer;
    opacity              : 0;
    z-index              : 2;    
    -webkit-touch-callout: none; 
/*Pointer cuando pase el mouse le pueda dar un clic*/
/*z-index esta segunda capa se va a ver*/
}

/*Menu Hamb.*/
#menuToggle span {
    display         : block;
    width           : 33px;    /*largo de cada raya*/
    height          : 4px;     /*ancho de cada raya*/
    margin-bottom   : 5px;     /*margen entre rayas*/
    position        : relative;/*siempre va a seguir con el input 
                               hacia adelante*/
    background      : #000;
    border-radius   : 3px;     /*terminacion de rayas redondeadas*/
    z-index         : 1;
    transform-origin: 4px 0px;
    transition      : transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                      opacity 0.55s ease;
}
#menuToggle span:first-child{
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
/*el menu de span a la mitad ayudara tranformarla*/
}
#menuToggle input:checked ~ span{
    opacity   : 1;
    transform : rotate(45deg) translate(-2px, -1px);     
    background: #232323;/*color para menu hambur*/               
/*tranlate, vamos a ver animaciones en el menu hamb*/
}
#menuToggle input:checked ~ span:nth-last-child(3){
    opacity   : o;
    transform : rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
    transform : rotate(-45deg) translate(0, -1px);
}
/*Menu ul*/
#menu{
    position              : absolute;
    width                 : 300px;
    margin                : -100px 0 0 -50px;
    padding               : 50px;
    padding-top           : 125px;
    background            :linear-gradient(to bottom,#128277, #bdf2ed);
    list-style-type       : none;
    -webkit-font-smoothing: antialiased;
    transform-origin      : 0% 0%;
    transform             : translate(-100%, 0);
    transition            : transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}
#menu li{
    padding  : 10px 0;
    font-size: 22px;
}
#menuToggle input:checked ~ ul{
    transform: none;
}

/**Header**/
div.hero{
    background-image   : linear-gradient(to left, #58c44982, #00fffff2),
                         url(../img/this.gif);
    height             : 100vh;
    background-position: center center;
    background-size    : cover;
    background-repeat  : no-repeat;
/*colocamos estilos generales a la imagen que 
 * valla al principio de la pagina*/
}
div.contenido-header{
    padding-top: 20px;
}
.logo{
    float      : left;
    margin-left: 50px;
    margin-top : -30px;
/*m-left, separa del menu*/
} 
img.logotipo{
    margin-left: 50px;
}

/**texto Animado**/
.informacion-principal{
    display    : flex;
    width      : 700px;
    height     : 40px;
    color      : #000;
    line-height: 40px;
    position   : absolute;
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
    margin     : auto;
    overflow   : hidden;
/*el display quiero que sea flexible a la hora de ver una animacion*/
/*Ponemos todo 0 para que centre en el medio */
}
.informacion-principal ul{
    list-style  : none;
    padding-left: 23px;
    animation   : cambiar 7s infinite;
    font-size   : 20px;
    font-family : 'lato', sans-serif;
    font-weight : 700;/*para que la letra sea bien oscura*/
}
ul,p{
    margin: 0;
}
p.titulo{
    font-size  : 30px;
    color      : #ff420e;
    font-family: 'lato', sans-serif;
    font-weight: 400;/* asi resalta los UL*/
/*Estilo al parrafo quieres una pag web?*/
}
@keyframes cambiar{
    0%  {margin-top:  0;   }
    20% {margin-top:  0;   }
    25% {margin-top: -40px;}
    50% {margin-top: -40px;}
    55% {margin-top: -80px;}
    80% {margin-top: -80px;}
    85% {margin-top: -40px;}
    95% {margin-top: -40px;}
    100%{margin-top:  0;   }
/*se empieza a mover la animacion*/
/*UL principal (titulo)*/
}
@media only screen and(max-width: 768px){
/*Responsive el texto animado*/
   p.titulo{
        text-align : center;
        font-size  : 26px;
    }
    .informacion-principal{
        width      : 450px;
    }
    .informacion-principal ul{
        font-size  : 17px;
    }
}

/** Grid **/
@media only screen and (min-width:768px){
    .contenedor-grid{
        margin-bottom: 15px;
    }
    .contenedor-grid::after{
        content: '';
        display: block;
        clear  : both;
    }
    [class*="columnas"] {
        padding: 0 10px;
        float  : left;
    }
    .columnas1-4{
        width: 25%;
    }
    .columnas2-4{
        width: 50%;
    }
    .columnas3-4{
        width: 75%;
    }
    .columnas1-3{
        width: 33.3%;
    }
    .columnas2-3{
        width: 66.6%;
    }
}

/**Secciones**/
.seccion-titulo{
    font-size     : 30px;
    color         : #111;
    text-transform: uppercase;
    text-align    : center;
/*t-transform, para volverlo mayuscula*/
}
.seccion-descripcion{
    text-align   : center;
    margin-bottom: 40px;
}
.seccion-divisor{
    width        : 50px;
    height       : 3px;
    background   : #ff420e;
    margin       : 0 auto;
    margin-bottom: 20px;
/*nuestra pequena linea divisor*/
}

/**Nosotros**/
.nosotros{
     background: linear-gradient(to right, #5bc8ac, #ccfff2);
    padding   : 50px 0;
/*background, de fondo claro*/
}
.nosotros img{
    width          : 75%;
    background-size: cover;
    border-radius  : 2px;
    border         : 5px solid #e8704f;
    margin-top     : 25px;
}
.imagen-nosotros{
    text-align: center;
    margin    : 0 auto;
}
.contenido-nosotros p{
    padding: 0;
    margin : 0 30px 0 0;
}

@media only screen and (max-width:768px){
    .contenido-nosotros h1,
    .contenido-nosotros p{
        text-align: center;
    }
}
.efecto-imagen{
    transform: rotate(-8deg);     
/*si queremos rotar la imagen*/    
}

/**Servicios**/
.servicios{
    background: linear-gradient(to left, #049485, #b8fff7);
    padding   : 50px 0;
/*background de fondo a gusto*/
}
.servicio-articulo{
    margin-bottom: 20px;
}
.servicio-icono{
    float        : left;
    background   : #ff420e;
    padding      : 16px;
    border-radius: 50%;/*asi logramos una esfera*/
    transition   : 0.5s;
    border       : 2px solid #00ffff;
}
.servicio-icono i{
    color        : #fff;
    font-size    : 24px;
}
.servicio-articulo:hover .servicio-icono{
    background: #fff;
/*al pasar el raton que cambie a este color*/
}
.servicio-articulo:hover .servicio-icono i{
    color: #00ffff;
}
.servicio-titulo{
    margin-left   : 80px;
    margin-bottom : 15px;
    text-transform: uppercase;
}
.servicio-titulo a{
    color         : #000; 
}
.servicio-articulo:hover .servicio-titulo a{
    color: #ff420e;
/*al pasar el mouse por el titulo cambia de color
 * a eleccion. (agregado)*/
}
.servicio-descripcion{
    margin-left   : 80px;
    line-height   : 24px;
}

/**Poyectos**/
.proyectos{
    background: linear-gradient(to right, #037367, #62f5e5);
    padding   : 50px 0;
/*background color de fondo*/
}
.proyectos .portafolio-icono{
    background-position: center center;
    background-size    : cover;
    background-repeat  : no-repeat;
    position           : relative;
    height             : 260px;
    width              : 100%;
    display            : table;
    overflow           : hidden;
    margin-bottom      : 30px;
/*hidden, nos va a permitir ver las imagenes*/
}
.proyectos .portafolio-icono .detalles{
    height        : 260px;
    background    : #ff420ea3;
    display       : table-cell;
    vertical-align: middle;
    opacity       : 0;
    transition    : 0.3s;
    text-align    : center;
}
.proyectos .portafolio-icono .detalles h4{
    font-size       : 16px;
    transition      : opacity   0.3s, -webkit-transform 0.3s;
    transition      : transform 0.3s, opacity 0.3s;
    transition      : transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
   -webkit-transform: translate3d(0, -15px, 0);
    color           : #00ffff;
}
.proyectos .portafolio-icono .detalles span{
    display         : block;
    color           : #00ffff;
    font-size       : 15px;
    transition      : opacity   0.3s, -webkit-transform 0.3s;
    transition      : transform 0.3s, opacity 0.3s;
    transition      : transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
   -webkit-transform: translate3d(0, 15px, 0);
    transform       : translate3d(0, 15px, 0);
}
.proyectos .portafolio-icono:hover .detalles{
    opacity: 0.8;
/*al pasar el mouse tenga animacion y con los detalles afuera*/
}
.proyectos .portafolio-icono:hover .detalles h4{
    -webkit-transform: translate3d(0, 0, 0);
     transform       : translate3d(0, 0, 0);
}
.proyectos .portafolio-icono:hover .detalles span{
    -webkit-transform: translate3d(0, 0, 0);
     transform       : translate3d(0, 0, 0);
}

/**Precios**/
.precio{
    background:linear-gradient(to left, #128277, #90ded6);
    padding   : 50px 0;
} 
.precio-caja{
    padding-left : 0;
    padding-right: 0;  
}
.precio-contenido{
    background         : #fff;
    -webkit-box-shadow : 0 0 7px rgba(0, 0, 0, 0.1);
    box-shadow         : 0 0 7px rgba(0, 0, 0, 0.1);
    margin-top         : 20px;
    -webkit-transition : all .25s ease-in-out;
    -moz-transition    : all .25s ease-in-out;
    -o-transition      : all .25s ease-in-out;
    position           : relative;
    border-radius      : 4px;
/*transition, para sea compatible con otros navegadores*/
}
.precio-contenido.general{
    z-index: 99;
/*va a ser nuestro separador*/
}

.precio-contenido:hover{
    margin-top         : -10px;
    -webkit-transition : all .25s ease-in-out;
    -moz-transition    : all .25s ease-in-out;
    -o-transition      : all .25s ease-in-out;
    transition         : all .25s ease-in-out;
    -webkit-box-shadow : 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow         : 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}
.precio-contenido h2{
    background-color : #fa8723;
    color            : #fff;
    font-size        : 20px;
    text-align       : center;
    margin-bottom    : 0;
    padding          : 30px 0;
    border-radius    : 4px 4px 0 0;
}
.precio-contenido h3{
    color         : #fffafa;
    text-align    : center;
    font-size     : 32px;
    background    :  #004d47;
    margin-bottom : 0;
    font-weight   : 700;
    padding       : 30px 0;
    margin-top    : 0;
}
.precio-contenido h3 span{
    font-size  : 18px;
    font-weight: 300;
}
.precio-contenido h3 sup{
    font-size  : 18px;
}
.precio-contenido ul{
    list-style : none;
    margin     : 25px 0;
}
.precio-contenido li{
    border-top : 1px solid #efefef;
    width      : 75%;
    color      : #333;
    margin     : 0 auto;
    padding    : 15px 0;
/*15 solo arriba y cero de todos lados*/
}
.precio-contenido li:first-child{
    border-top : none;
}
.precio-contenido li i{
    float      : right;
}
.precio-contenido li del{
    color      : #aaa;
}
.precio-boton{
    background    : #fa8723;
    text-align    : center;
    padding       : 25px 0;
    border-radius : 0 0 4px 4px;
}
.precio-boton:hover{
    background    : #004d47;
}
.precio-contenido p{
    background : #f8f8f8;
    padding    : 20px;
}
.precio-contenido.ofrecido{
    margin-top         : 20px;
    position           : relative;
    z-index            : 9999;
    -webkit-box-shadow : 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow         : 0 2px 20px 0 rgba(0, 0, 0, 0.2);
/*W-box, para que pueda resaltar la caja*/
}
.precio-contenido.ofrecido h3{
    font-size : 38px;
    padding   : 45px 0;
}
.fa-check:before{
    content   : "\f00c";
    color     : #00ffff;
    font-size : 15px;
}
.fa-remove:before,
.fa-close :before,
.fa-times{
    content   : "\f00d";
    color     : red;
    font-size : 25px;
}
.fa-clock-o:before{
    content   : "\f017";
    font-size : 20px;
    color     : #00ffff;
}

/**Contacto**/
.contacto{
    background-image: linear-gradient(to left, #ccffc4a6, #004d47),
                         url(../img/this.gif);
    padding         : 50px 0;
/*agregando color de fondo*/
}
@media only screen and (min-width: 768px){
    form.reserva-contacto{
        margin: 15px 200px 15px 200px;
    }
/*nos permite ver en formato movil*/
/*200px voy a dejar de lado a lado*/
/*ya con esto tenemos el formulario*/
}
/*vamos a dar estilos al formulario*/
form.reserva-contacto .campo{
    margin-bottom: 20px;
    width        : 100%;
/*modificando donde van los datos*/
/*dejamos un espacio entre cada campo de 20px*/

}
form.reserva-contacto .campo input,
form.reserva-contacto .campo textarea{
    width   : 100%;
    border  : 3px solid #00ffff;
    padding : 15px 10px;
/*10px a la derecha (nombre,email,etc)*/
}
form.reserva-contacto .campo textarea{
    height : 200px;
}
form.reserva-contacto ::-webkit-input-placeholder{
    color: #000000!important;
/*le agregamos important para que nos quede 
 fijo el color negro en las letras*/
/*para distintos navegadores*/
}
form.reserva-contacto ::-moz-placeholder{
    color: #000000!important;
/*esto es para que los otros navegadores lo 
 puedan reconocer tambien*/
/*este es para Mozilla*/
}
form.reserva-contacto ::-ms-input-placeholder{
    color: #000000!important;
/*este es para Internet Explore*/
}
form.reserva-contacto input[type="submit"]{
    border           : none;
    margin           : 0 auto;
    display          : block;
    padding          : 20px 25px 20px 25px;
    text-align       : center;
    background-color : #00ffff;
    color            : #021c1e;
}
form.reserva-contacto input[type="submit"]:hover{
    background-color : transparent;
    border: 4px solid #00ffff;
    color            : #00ffff;/*agregado*/
    text-decoration  : line-through;/*agregado*/
}

/*Footer*/
.footer{
    background-color: #021c1e;
/*Color de fondo*/
}
footer{
    text-align: center;
    padding: 50px 0;
}
footer p{
    color:#7fffd4;
    font-family: 'Bellefair', serif;
    font-size: 24px;
/*dandole estilos a Erica Cancinos*/
}
.menu-social{
    margin-bottom:25px;
}
.redes-sociales{
    margin-left: 0;
    padding-left: 0;
}
.redes-sociales li{
    display: inline-block;
}
.redes-sociales a{
    margin: 0;
    padding: 0;
    display: block;
    width: 40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
    color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.redes-sociales .social-facebook  a{
    background: #3873ae;
}
.redes-sociales .social-twitter   a{
    background: #62c6f8;
}
.redes-sociales .social-instagram a{
    background: #ff018f;
}
.redes-sociales .social-youtube   a{
    background: #ff0000;
}
footer .menu-social ul.redes-sociales li a{
    margin: 0 5px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

